<h1>Search properties by price</h1>

<form method="get" action="/Properties/DoSearch" class="col-md-6">
    <div>Min price: <input name="minPrice" class="form-control" /></div>
    <hr />
    <div>Max price: <input name="maxPrice" class="form-control" /></div>
    <hr />
    <input type="submit" class="btn btn-primary float-right" value="Search" />
</form>